<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/CollapsibleLists.js')}}"></script>
</head>

<form action="/generate" method="post">
    <!-- <input type="text" name="remote" value={{get_remotes()[1]}}>
    <input type="text" name="branch" value={{get_branches()[1]}}> -->
    <label for="vehicle">Choose a vehicle:
        <select name="vehicle">
            {% for vehicle in get_vehicles()[0] %}
            {% if vehicle == get_vehicles()[1] %}
            <option value="{{vehicle}}" selected>{{vehicle}}</option>
            {% else %}
            <option value="{{vehicle}}">{{vehicle}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </label>
    <p></p>
    <label for="board">Choose a board:
        <select name="board">
            {% for board in get_boards()[0] %}
            {% if board == get_boards()[1] %}
            <option value="{{board}}" selected>{{board}}</option>
            {% else %}
            <option value="{{board}}">{{board}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </label>
    <p></p>
    <label for="board">Select Features:
        <ul class="collapsibleList">
            {% for c in get_build_categories() %}
            <li>{{c}}
                <ul>
                    {% for f in get_build_options(c) %}
                    <li>
                        {% if f.default == 1 %}
                        <input onclick='dependencies(this, "{{f.label}}", "{{f.dependency}}");' type="checkbox"
                               name="{{f.label}}" id="{{f.label}}" value="1" checked>
                        {% else %}
                        <input onclick='dependencies(this, "{{f.label}}", "{{f.dependency}}");' type="checkbox"
                               name="{{f.label}}" id="{{f.label}}" value="1">
                        {% endif %}
                        {{f.description}}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </label>
    <br>
    <input type="submit" value="Generate">
</form>

<script>
    CollapsibleLists.apply();

    function dependencies(cb, f_label, f_dependency1) {
        switch (cb.name) {
            case f_label:
                const f_dependency = f_dependency1.split(",")
                var arrayLength = f_dependency.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (document.getElementById(f_dependency[i]).checked == false) {
                        document.getElementById(f_dependency[i]).checked = cb.checked;
                    }
                }
                break;
        }
    }
</script>